@model IEnumerable<MyBookLife.Application.ViewModels.EntryVm.EntryForListVm>

@{
    ViewData["Title"] = "DiaryEntries";
}

<h1>DiaryEntries</h1>

<p>
    <a asp-action="AddEntry" asp-route-DiaryId="@ViewBag.DiaryId">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PagesRead)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Book)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PagesRead)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditEntry", new { entryId = item.Id }) |
                    @Html.ActionLink("Delete", "RemoveEntryById", new { entryId = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
