@model IEnumerable<MyBookLife.Application.ViewModels.EntryVm.EntryForListVm>

@{
    ViewData["Title"] = "DiaryEntries";
}

<h1>DiaryEntries</h1>

<p>
    <a asp-action="AddEntry" asp-route-DiaryId="@ViewBag.DiaryId">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPagesRead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalBooksRead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaryId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPagesRead)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalBooksRead)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaryId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditEntry", new { entryId = item.Id }) |
                    @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                    @Html.ActionLink("Delete", "RemoveEntryById", new { entryId = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
